body, .container {
    margin: 0;
    max-width: 100%;
}

.col-md-6 {
    padding-right: 0;
}

#header {
    padding: 0;
    margin: 0;
    width: 100vw;
    background-color: #cecece;
    height: 28px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

header {
    width: 30%;
    display: block;
    padding-left: 20px;
}

#legendParent {
    display: block;
    width: 65%;
    height: 24px;
    padding: 4px 0;
    position: absolute;
    top: 0;
    right: 0;
}

.svgParent {
    width: 100%;
    height: 65vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.title {
    margin-top: 35px;
}

#graphRev {
    overflow: hidden;
    height: 65vh;
    padding: 0;
}

#titleRev {
    margin: 0;
}

.line {
    fill: none;
    stroke-width: 2px;
}

.legendCells g.cell circle {
    stroke: slategray; 
    stroke-width: 1px;
    fill: none;
}

.legendCells g.cell text {
    font-size: .75rem;
}

text.legendTitle {
    font-size: .75rem;
    font-weight: bold;
}

#tooltip {
    font-size: .75rem;
    background: #eeeeeebb;
    padding: 5px;
    font-weight: bold;
}

#tooltip p {
    margin: 0;
    padding: 0;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 200; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a, .sidenav p {
    text-decoration: none;
    font-size: 9px;
    color: #818181;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 24px;
    margin-left: 50px;
}
.bi-list:hover{
    transform: scale(1.5);
}

.bi-list {
    margin: 0 5px;
    cursor: pointer;
    transition: all .5s;
    transform-origin: 50% 50%;
}  

span#sidenavTitle {
    color: #f1f1f1;
    position: absolute;
    top: 0;
    margin: 8px;
    left: 10px;
    font-weight: bold;
}

#mapPaths path {
    stroke: #fff;
    stroke-width: 1px;
}

#mapPaths path:hover {
    /* fill:#48494b; */
    cursor:pointer;
}

div#about {
    margin-top: 30px;
}

#about p{
    color: #fff;
    display: block;
    text-align: center;
}

#mapDetails {
    width: 128px;
    position: absolute;
    z-index: 300;
    top: 60px;
    right: 5px;
}

#mapDetails p {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

#mapDetails p.entries {
    font-weight: normal;
    font-size: 9px;
}